<%= render 'books/list', books: @book %>

<% @users.each do |user| %>
Title
<%= user.nama %>
Opinion
<%= user.body %>
<% end %>


      <td><%= link_to 'Edit', edit_book_path(book.id) %></td>
      <td><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に消しますか？" %></td>

