<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
        <h2>Log in</h2>
        <form action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="i/qCb4iWv4v3x83R9GgvtuTQD8XT22QRS6ZDY5ymRwye1PAa7N/eueipV+zWz1V+kYuLsEWjJgW+nQn4mTvjsw==">
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>
          <div class="field">
            <label for="user_name"><%= f.label :name %></label><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </div>
          <div class="field">
            <label for="user_password"><%= f.label :password %></label><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <label for="user_remember_me"><%= f.check_box :remember_me %></label>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <input type="submit" name="commit" value="Log in" class="btn btn-sm btn-primary" data-disable-with="Log in">
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
